
@import url("colors.less");
@import url("controls.less");
@import url("switch.less");
@import url("modals.less");
@import url("/engine/lib/fonts/webbasic/webbasic.css");

::-webkit-scrollbar {
    width: 5px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 0px;
}

.wblogo {
    font-family: 'Webbasic';
}

.nobr {
    white-space: nowrap;
}

[data-ajax], [onclick], [href] {
  cursor: pointer;
}

.contenteditable:hover {
      background-color: @color_light;
      box-shadow: 0 0 3px 1px @color_gray;
      border-radius: 3px;
      transition-duration: @transition_duration;
}

.table {
    .thead-dark th {
        background-color: @color_dark;
        color: @color_light;
    }
}

.cursor-wait {
  cursor: wait;
}
