#wb-loading {
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        height:1000%;
        background: #FFFFFF;
        cursor: wait!important;
        z-index: 999999;
}

img[data-src]:not([src]) {
        opacity: 0;
}

img[data-src][src] {
        opacity: 1;
        transition-duration: .8s;
}