#wb-loading {
        position:absolute;
        top:0;
        left:0;
        width:100vw;
        height:1000%;
        background: #FFFFFF;
        cursor: wait!important;
        z-index: 999999;
}
