DirectoryIndex index.php
AddDefaultCharset UTF-8
Options All -Indexes

<IfModule mod_headers.c>
<FilesMatch ".(webp|gif|jpg|jpeg|png|ico|svg|js|css|pdf)$">
  Header set Cache-Control "max-age=31536000"
</FilesMatch>
</IfModule>

RewriteBase /
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^(.*)\.less$ index.php 
RewriteRule ^(.*)\.scss$ index.php 


RewriteRule ^database(.*)$ index.php [R=404,L]
RewriteRule ^.git(.*)$ index.php [R=404,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

