body {
  aside {
    .aside-menu-link {
      display: flex;
    }

    .burger-menu {
      display: none;
    }

    .nav-aside {
      [class^="ri-"],
      [class*=" ri-"] {
        font-size: 16px;
      }

      ul {
        padding-left: 15px;

        li {
          list-style: none;
        }
      }
    }

    &.minimize {
      ul {
        padding-left: 0;
      }
    }
  }

  &.chat-content-show {
    aside {
      @media (max-width: 992px) {
        .burger-menu {
          display: flex!important;
        }

        .aside-menu-link {
          display: none!important;
        }
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
