.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.text-dark {
  color: #495057;
}
.text-light {
  color: #f8f9fa;
}
.text-gray {
  color: #cccccc;
}
.text-red {
  color: #dc3545;
}
.text-blue {
  color: #3b6998;
}
.text-green {
  color: #28a745;
}
.text-transparent {
  color: transparent;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-dark {
  color: #495057;
}
.bg-light {
  color: #f8f9fa;
}
.bg-gray {
  background-color: #cccccc;
}
.bg-red {
  background-color: #dc3545;
}
.bg-blue {
  background-color: #3b6998;
}
.bg-green {
  background-color: #28a745;
}
.bg-transparent {
  background-color: transparent;
}
#notes #noteComments {
  height: calc(100vh - 127px);
}
#notes .form-control {
  box-shadow: none;
}
#notes .paper {
  position: relative;
  background: -webkit-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  background: -moz-linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  background: linear-gradient(top,#f0f0f0 0%,white 5%) 0 0;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
}
#notes .paper:before {
  content: '';
  position: absolute;
  width: 0px;
  top: 0;
  left: 39px;
  bottom: 0;
  border-left: 1px solid #F9D3D3;
}
#notes .paper textarea {
  border: none;
  border-radius: 0;
  background-color: transparent;
  height: calc(100vh - 110px);
  padding: 0px 0 0 55px;
  line-height: 30px;
  min-height: 210px;
}
#notes .card:not(.empty) {
  margin: 5px;
  border-color: #cccccc;
  box-shadow: none;
  margin-bottom: 5px;
  cursor: pointer;
}
#notes .card:not(.empty):hover:not(.active) {
  background-color: #f8f9fa !important;
}
#notes .card:not(.empty) .card-body {
  display: inline-block;
  padding: 5px;
}
#notes .card:not(.empty) .card-body .text {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  max-height: 32px;
}
#notes .card:not(.empty) .card-body .text::first-line {
  font-weight: bold;
}
#notes .card:not(.empty).active {
  background-color: #3e8da0 !important;
  border: 0;
  color: #f8f9fa !important;
}
#notes .card:not(.empty).active .form-control::-moz-placeholder {
  color: #f8f9fa;
  opacity: 1;
}
#notes .card:not(.empty).active .form-control:-ms-input-placeholder {
  color: #f8f9fa;
}
#notes .card:not(.empty).active .form-control::-webkit-input-placeholder {
  color: #f8f9fa;
}
#notes .card:not(.empty) .form-control::-moz-placeholder {
  color: #495057;
  opacity: 1;
}
#notes .card:not(.empty) .form-control:-ms-input-placeholder {
  color: #495057;
}
#notes .card:not(.empty) .form-control::-webkit-input-placeholder {
  color: #495057;
}
#notes .card:not(.empty) input {
  box-shadow: none;
  color: #495057;
}
#notes .card:not(.empty) input:checked + div > input {
  text-decoration: line-through;
  color: #cccccc;
}
#notes .card:not(.empty) .close {
  opacity: 0;
  color: white;
  text-shadow: none;
  display: inline-block;
  font-weight: normal;
}
#notes .card:not(.empty):hover .close {
  opacity: 1;
}
#notes .card:not(.empty):hover:not(.active) .close {
  color: #495057;
}
#notes .card:not(.empty) .form-control {
  height: auto;
  border: 0;
  padding: 0;
  box-shadow: none;
  background-color: transparent;
}
