
.filepicker {
    .listview {
        padding: 10px;
    }

    .card {
        .card-body {
            padding: 0.25rem;
        }
        img {
            width:150px;
            height:150px;
            object-fit: contain;
        }
        > i {
            font-size: 150px;
        }
        img[loading] {
            background: url(/engine/modules/filepicker/assets/img/loader.gif) 50% 50% no-repeat;
            background-size: contain;
        }
    }
}