.text-white {
  color: #ffffff;
}
.text-black {
  color: #000000;
}
.text-dark {
  color: #495057;
}
.text-light {
  color: #f8f9fa;
}
.text-gray {
  color: #cccccc;
}
.text-red {
  color: #dc3545;
}
.text-blue {
  color: #3b6998;
}
.text-green {
  color: #28a745;
}
.text-transparent {
  color: transparent;
}
.bg-white {
  background-color: #ffffff;
}
.bg-black {
  background-color: #000000;
}
.bg-dark {
  color: #495057;
}
.bg-light {
  color: #f8f9fa;
}
.bg-gray {
  background-color: #cccccc;
}
.bg-red {
  background-color: #dc3545;
}
.bg-blue {
  background-color: #3b6998;
}
.bg-green {
  background-color: #28a745;
}
.bg-transparent {
  background-color: transparent;
}
.wb-multiinput-row {
  position: relative;
  cursor: context-menu;
  padding: 2px 60px 2px 30px;
  margin: 0;
  border-left: 3px transparent solid;
}
.wb-multiinput-row [class^='col-'],
.wb-multiinput .col {
  padding: 0 5px;
}
.wb-multiinput-del,
.wb-multiinput-add,
.wb-multiinput-swp {
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  vertical-align: middle;
  color: #3b6998;
  text-shadow: none;
  font-size: 28px !important;
  z-index: 0;
}
.wb-multiinput-del {
  right: 0px;
}
.wb-multiinput-add {
  right: 30px;
}
.wb-multiinput-swp {
  left: 0;
  cursor: move;
  z-index: 0;
}
.wb-multiinput-row:hover {
  border-left: 3px #3b6998 solid;
}
.wb-multiinput-menu {
  position: absolute;
  margin-top: -3px;
  z-index: 99999;
}
